<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem 
        id="menu_root"
        name="Facebook Marketing"
        sequence="2"
    />

    <menuitem 
        id="menu_manager_account"
        name="Manager Account"
        parent="menu_root"
        action="action_manager_account"
        sequence="0"
    />

    <menuitem 
        id="menu_facebook_category" 
        name="Categories Mapping" 
        action="action_facebook_category" 
        parent="menu_root"  
        sequence="0"
    />

    <menuitem 
        id="menu_facebook_page" 
        name="Facebook Page" 
        action="action_facebook_page" 
        parent="menu_root"  
        sequence="0"
    />

    <menuitem
        id="menu_marketing_root"
        name="Marketing Posts"
        parent="menu_root"
        sequence="0"
    />

    <!-- <menuitem 
        id="menu_marketing_product"
        name="Marketing Products"
        action="action_marketing_product" 
        parent="menu_marketing_root"  
        sequence="0"
    /> -->

     <menuitem
        id="menu_marketing_blog"
        name="Marketing Blogs"
        action="action_marketing_blog"
        parent="menu_marketing_root"
        sequence="0"
    />
</odoo>